.btn {
  text-transform: uppercase;
  border: 1px solid #2b272f;
  background-color: white;
  color: #2b272f;
  padding: 0.5rem 1.5rem;
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 37.5em) {
  .btn {
    z-index: 1;
    font-size: 1.6rem;
    padding: 0.8rem 2.3rem;
  }
}

.btn:hover {
  background-color: #2b272f;
  color: white;
}

.btn--dark {
  background-color: #2d2640;
  color: white;
  border-color: white;
}

.btn--dark:hover {
  background-color: white;
  color: #2d2640;
}

.title {
  position: relative;
}

.title::before {
  content: "";
  width: 150px;
  height: 3px;
  background-color: #95a9c6;
  display: block;
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 37.5em) {
  .title::before {
    margin: 0 auto 2.5rem auto;
  }
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.feature__icon {
  margin-bottom: 1rem;
}

.feature__title {
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.feature__desc {
  line-height: 1.5;
  color: #95a9c6;
}

@media only screen and (max-width: 37.5em) {
  .feature__desc {
    font-size: 1.35rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: 'Karla', sans-serif;
}

h1, h2, h3 {
  font-family: 'DM Serif Display', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.header {
  position: relative;
}

.header::before {
  content: "";
  display: block;
  width: 15rem;
  height: 25rem;
  background-image: url(/images/bg-pattern-intro-left-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  bottom: -40%;
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .header::before {
    display: none;
  }
}

.header::after {
  content: "";
  display: block;
  width: 28rem;
  height: 40rem;
  background-image: url(/images/bg-pattern-intro-right-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  top: 0%;
  right: 0%;
  -webkit-transform: scaleY(0.9) scaleX(0.9) translateX(3rem) translateY(-4rem);
          transform: scaleY(0.9) scaleX(0.9) translateX(3rem) translateY(-4rem);
}

@media only screen and (max-width: 37.5em) {
  .header::after {
    display: none;
  }
}

.navbar {
  height: 10vh;
  background-color: white;
  position: relative;
  z-index: 2;
}

.navbar .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .navbar__list {
    display: none;
  }
}

.navbar__item {
  display: inline-block;
  margin-left: 1.5rem;
}

.navbar__link {
  text-transform: uppercase;
  color: #95a9c6;
}

.navbar__link:hover {
  color: #2b272f;
}

.content {
  background-color: #2d2640;
  padding: 6rem 0;
}

@media only screen and (max-width: 37.5em) {
  .content {
    padding: 0 0 3rem 0;
  }
}

.content__mobile {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .content__mobile {
    width: 100%;
    display: block;
  }
}

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  color: #fafafa;
}

@media only screen and (max-width: 37.5em) {
  .content__text {
    text-align: center;
    padding: 4rem 0;
  }
}

.content__title {
  font-size: 4rem;
  width: 90%;
  line-height: 1;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .content__title {
    width: 100%;
    font-size: 3.5rem;
  }
}

.content .title::before {
  display: none;
}

.content__desc {
  line-height: 1.7;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .content__desc {
    font-size: 1.5rem;
  }
}

.content__cover {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 1rem;
  height: 20rem;
}

@media only screen and (max-width: 37.5em) {
  .content__cover {
    display: none;
  }
}

.content__img {
  width: 100%;
  max-width: 33rem;
  height: 35rem;
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 37.5em) {
  .content__img {
    position: relative;
  }
}

.section-features {
  margin: 20rem 0 8rem 0;
}

@media only screen and (max-width: 37.5em) {
  .section-features {
    margin: 10rem 0;
    text-align: center;
  }
}

.section-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .section-title {
    font-size: 3rem;
  }
}

.section-more .container {
  background-color: #2d2640;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  margin-bottom: 8rem;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .section-more .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 5rem 3rem;
    overflow: hidden;
  }
}

.section-more .container::after {
  content: "";
  width: 25rem;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
  background-size: cover;
}

@media only screen and (max-width: 37.5em) {
  .section-more .container::after {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    right: -20%;
  }
}

.more-title {
  font-size: 3rem;
  color: #fafafa;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin-bottom: 0;
  line-height: 1;
}

@media only screen and (max-width: 37.5em) {
  .more-title {
    margin-bottom: 2rem;
  }
}

.footer {
  background-color: #fafafa;
  padding: 2rem 0;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    padding: 5rem 0;
  }
}

.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: #95a9c6;
}

@media only screen and (max-width: 37.5em) {
  .footer__icon {
    width: 2rem;
    height: 2rem;
  }
}

.footer__icon:hover {
  fill: #2d2640;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid #95a9c6;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer__social-links {
    margin-top: 2rem;
  }
}

.footer__social-links .footer__item {
  display: inline-block;
  margin-left: 0.5rem;
}

.footer__destination {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  grid-gap: 1rem;
}

@media only screen and (max-width: 37.5em) {
  .footer__destination {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
    font-size: 1.2rem;
  }
}

.footer__item {
  margin-bottom: 1rem;
}

.footer__title {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #95a9c6;
}

.footer__link {
  text-transform: uppercase;
  color: #2d2640;
  font-weight: bold;
}

.footer__link:hover {
  text-decoration: underline;
}

.menu {
  display: none;
}

.navbar__mobile {
  display: none;
}

@media only screen and (max-width: 37.5em) {
  .navbar__mobile {
    display: block;
  }
  .navbar__mobile .navbar__close {
    opacity: 0;
    width: 0;
  }
  .navbar__mobile .icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    right: 0;
  }
  .navbar__mobile .checkbox__label {
    cursor: pointer;
    position: relative;
  }
  .navbar__mobile .checkbox {
    display: none;
  }
  .navbar__mobile .checkbox:checked + .checkbox__label .navbar__burger {
    opacity: 0;
    width: 0;
  }
  .navbar__mobile .checkbox:checked + .checkbox__label .navbar__close {
    opacity: 1;
    width: 2rem;
  }
  .navbar__mobile .checkbox:checked ~ .menu {
    opacity: 1;
    width: 100%;
  }
  .navbar__mobile .menu {
    display: block;
    position: fixed;
    height: 100%;
    background-color: #2b272f;
    bottom: -9%;
    left: 0;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 0;
    opacity: 0;
    width: 0;
  }
  .navbar__mobile .menu::after {
    content: "";
    position: absolute;
    bottom: -10%;
    width: 34rem;
    height: 34rem;
    display: block;
    background-image: url(/images/bg-pattern-mobile-nav.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .navbar__mobile .menu__list {
    margin-bottom: 2rem;
  }
  .navbar__mobile .menu__link {
    text-transform: uppercase;
    color: #fafafa;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */