@import "components";

$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);

*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    box-sizing: border-box;

    @media only screen and (max-width:37.5em){
        font-size: 70%;
    }
}

body{
    font-family: 'Karla', sans-serif;
}

h1,h2,h3{
    font-family: 'DM Serif Display', sans-serif;
}

// UTILITIES

.container{
    width: 80%;
    margin:0 auto;
}


// HEADER

.header{
    position: relative;
    &::before{
        content: "";
        display: block;
        width: 15rem;
        height: 25rem;
        background-image: url(/images/bg-pattern-intro-left-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left;
        position: absolute;
        bottom: -40%;
        left: 0;
        @media only screen and (max-width:37.5em){
            display: none;
        }
    }

    &::after{
        content: "";
        display: block;
        width: 28rem;
        height: 40rem;
        background-image: url(/images/bg-pattern-intro-right-desktop.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        position: absolute;
        top: 0%;
        right:0%;
        transform: scaleY(0.9) scaleX(0.9) translateX(3rem) translateY(-4rem);
        @media only screen and (max-width:37.5em){
            display: none;
        }
    }
}


// NAVBAR

.navbar{
    height: 10vh;
    background-color: white;
    position: relative;
    z-index: 2;

    .container{
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list{
        @media only screen and (max-width:37.5em){
            display: none;
        }
    }

    &__item{
        display: inline-block;
        margin-left: 1.5rem;
    }

    &__link{
        text-transform: uppercase;
        color: $GrayishBlue;

        &:hover{
            color: $VeryDarkViolet;
        }
    }
}


.content{
    background-color: $DarkViolet;
    padding: 6rem 0;

    @media only screen and (max-width:37.5em){
        padding: 0 0 3rem 0;
    }

    &__mobile{
        display: none;
        @media only screen and (max-width:37.5em){
            width: 100%;
            display: block;
        }
    }

    .container{
        display: flex;
        @media only screen and (max-width:37.5em){
            flex-direction: column;
        }
    }

    &__text{
        flex: 0 1 50%;
        color: $VeryLightGray;

        @media only screen and (max-width:37.5em){
            text-align: center;
            padding: 4rem 0;
        }
    }

    &__title{
        font-size: 4rem;
        width: 90%;
        line-height: 1;
        margin-bottom: 1rem;

        
        @media only screen and (max-width:37.5em){
            width: 100%;
           font-size: 3.5rem;
        }
    }

    .title{
        &::before{
            display: none;
        }
    }

    &__desc{
        line-height: 1.7;
        margin-bottom: 2rem;
           @media only screen and (max-width:37.5em){
            font-size: 1.5rem;
           }
    }

    &__cover{
        position: relative;
        flex: 1;
        margin-left: 1rem;
        height: 20rem;  
        @media only screen and (max-width:37.5em){
            display: none;
        }
    }

    &__img{
        width: 100%;
        max-width: 33rem;
        height: 35rem;
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        @media only screen and (max-width:37.5em){
            position: relative;
        }
    }
}

.section-features{
    margin: 20rem 0 8rem 0;
    @media only screen and (max-width:37.5em){
      margin: 10rem 0;
      text-align: center;
    }
}

.section-title{
    font-size: 4rem;
    margin-bottom: 2rem;
    @media only screen and (max-width:37.5em){
        font-size: 3rem;
}
}


.section-more{
    .container{
        background-color: $DarkViolet;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3rem;
        margin-bottom: 8rem;

        position: relative;

        @media only screen and (max-width:37.5em){
            flex-direction: column;
            text-align: center;
            padding: 5rem 3rem;
            overflow: hidden;
        }

        &::after{
            content: "";
            width: 25rem;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url(/images/bg-pattern-how-we-work-desktop.svg);
            background-size: cover;
            @media only screen and (max-width:37.5em){
                width: 100%;
                background-size: cover;
                background-repeat: no-repeat;
                height: 100%;
                right: -20%;
            }
        }
    }
}


.more-title{
    font-size: 3rem;
    color: $VeryLightGray;
    flex: 0 1 50%;
    margin-bottom: 0;
    line-height: 1;
    @media only screen and (max-width:37.5em){
       margin-bottom: 2rem;
    }
}



.footer{
    background-color: $VeryLightGray;
    padding: 2rem 0;


    @media only screen and (max-width:37.5em){
      padding: 5rem 0;
     }
    &__icon{
        width: 1.5rem;
        height:1.5rem;
        fill: $GrayishBlue;

        @media only screen and (max-width:37.5em){
            width: 2rem;
            height: 2rem;
           }

        &:hover{
            fill: $DarkViolet;
        }
    }

    &__social{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        border-bottom: 1px solid $GrayishBlue;
        padding-bottom: 1.5rem;

        @media only screen and (max-width:37.5em){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem 0;
        }
        
    }

    &__social-links{

        @media only screen and (max-width:37.5em){
            margin-top: 2rem;
           }

        .footer__item{
            display: inline-block;
            margin-left: 0.5rem;
        }
    }


    &__destination{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin-top: 2rem;
        grid-gap: 1rem;

        @media only screen and (max-width:37.5em){
           grid-template-columns: 1fr;
           justify-items: center;
           text-align: center;
           font-size: 1.2rem;
        }
    }

    &__item{
        margin-bottom: 1rem;
    }

    &__title{
        margin-bottom: 2rem;
        text-transform: uppercase;
        color: $GrayishBlue;
    }

    &__link{
        text-transform: uppercase;
        color: $DarkViolet;
        font-weight: bold;

        &:hover{
            text-decoration: underline;
        }
    }
}

.menu{
    display: none;
}
.navbar__mobile{
    display: none;

    @media only screen and (max-width:37.5em){
        display: block;

        .navbar__close{
            opacity: 0;
            width: 0;
        }

        .icon{
            width: 2rem;
            height: 2rem;
            position: absolute;
            top: 0;
            right: 0;
        }

        .checkbox__label{
            cursor: pointer;
            position: relative;
        }

        .checkbox{display: none;}

        .checkbox:checked + .checkbox__label .navbar__burger{
            opacity: 0;
            width: 0;
        }
        .checkbox:checked + .checkbox__label .navbar__close{
            opacity: 1;
            width: 2rem;
        }

        .checkbox:checked ~ .menu{
            opacity: 1;
            width: 100%;
        }

        .menu{
            display: block;
            position: fixed;
            height: 100%;
            background-color:$VeryDarkViolet;
            bottom: -9%;
            left: 0;
            z-index: 100;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 3rem 0;
            opacity: 0;
            width: 0;

            &::after{
                content: "";
                position: absolute;
                bottom: -10%;
                width: 34rem;
                height:34rem;
                display: block;
                background-image: url(/images/bg-pattern-mobile-nav.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }

            &__list{
                margin-bottom: 2rem;
            }

            &__link{
                text-transform: uppercase;
                color: $VeryLightGray;
                font-size: 2rem;
            }
        }
    }
}